#nonnull

lombok.nonNull.flagUsage = WARNING
lombok.nonNull.exceptionType = IllegalArgumentException

# Getter - Setter

lombok.accessors.chain = true #default is false, setter methods return this instead of void
lombok.setter.flagUsage = WARNING # lombok warn you any use of setter method
lombok.getter.flagUsage = WARNING #lombok warn you any use of getter method

# tostring

lombok.toString.callSuper = CALL
lombok.toString.doNotUseGetters = true #lombok use getters method for toString, assign it true means directly access to the fields.

#sneakythrows

lombok.sneakyThrows.flagUsage = WARNING